<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <p>Silahkan scan mobil terlebih dahulu untuk memulai aplikasi.</p>
                        <div class="form-group mt-3">
                            <label>Nama</label>
                            <input type="text" class="form-control" [value]="nama" disabled>
                        </div>
                        <div class="form-group mt-3">
                            <label>Nik</label>
                            <input type="text" class="form-control" [value]="nik" disabled>
                        </div>
                        <div class="form-group mt-3" id="VisibilitasLokasiTerdekat">
                            <label>Lokasi Terdekat</label>
                            <select class="form-control" id="selectedLocation" #lokasiTerdekat>
                                <option value="">PILIH</option>
                                <option value="SILO_A">SILO A</option>
                                <option value="SILO_B">SILO B</option>
                            </select>
                        </div>
                        <div id="containerMobil"></div>
                        <div id="containerMenu"></div>
                        <div class="d-flex justify-content-center mt-3">
                            <button [disabled]="isMobilScanned" class="btn btn-success ml-1 mt-3" (click)="openQRScannerMobil(lokasiTerdekat.value)">
                                <i class="fas fa-qrcode"></i> SCAN MOBIL
                            </button>&nbsp;&nbsp;
                            <button
                            *ngIf="isMobilScanned"
                            class="btn btn-primary ml-1 mt-3"
                            (click)="openQRScannerTangki()"
                            >
                            <i class="fas fa-qrcode"></i> SCAN TANGKI
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>