<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <!-- <span class="badge bg-secondary" (click)="goBack()"><i class="fas fa-arrow-left"></i> KEMBALI</span> -->

            <div class="row">
                <div class="col-6">
                    <div class="form-group mt-3">
                        <label>Nama</label>
                        <input type="text" class="form-control" [value]="nama" disabled>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mt-3">
                        <label>Nik</label>
                        <input type="text" class="form-control" [value]="nik" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mt-3">
                        <label>DARI</label>
                        <input type="text" class="form-control" value="PAS" disabled>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mt-3">
                        <label>KE</label>
                        <input type="text" class="form-control" value="PSG" disabled>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 mx-auto">
                    <div class="d-flex justify-content-center mt-3">
                        <button *ngIf="!sudahJalan" class="btn btn-success" (click)="updateStartTransaction()"><i class="fas fa-truck"></i> JALAN</button>&nbsp;&nbsp;
                        <button *ngIf="sudahJalan" class="btn btn-danger" (click)="updateEndTransaction()"><i class="fas fa-truck"></i> TIBA</button>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>