<div class="container mt-5">
  <div class="card shadow">
    <div class="card-body p-5">
      <!-- <button class="btn btn-primary" (click)="navigateTo('/')">Login</button>
      <button class="btn btn-primary" (click)="navigateTo('/detail')">Detail</button> -->
      <!-- <button class="btn btn-primary" (click)="navigateTo('/home')">Home</button> -->
      <div style="text-align: center;">
        <img src="silo_1.png" class="img-fluid rounded-circle" width="150">
        <h5 class="mt-3 mb-5">DRIVER</h5>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>